body {
    background-image: url("rogner_elec.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 50em;
    /* width: 50em; */
}

body {
    font-family: Arial;
}

svg {
    width: 600px;
    height: 300px;
    background: #ff000000;
    border: 1px solid #000000;
}

.base-path {
    stroke: #a35757;
    stroke-width: 5;
    fill: none;
}

.anim-path {
    stroke: #d8656500;
    stroke-width: 5;
    stroke-linecap: round;
    fill: none;
}

.node {
    fill: #00ff00;
}

.highlight {
    fill: #ff5722;
    transition: 0.3s;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}