


body {
    font-family: Arial;
}

svg {
    background-image: url("rogner_elec.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #000000;
}

.base-path {
    stroke: #00ff00;
    stroke-width: 5;
    fill: none;
}

.anim-path {
    stroke: #ff0000;
    stroke-width: 5;
    stroke-linecap: round;
    fill: none;
}

.node {
    fill: #00ff00;
}

.highlight {
    fill: #ff5722;
    transition: 0.3s;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}