/* Style du bloc d'introduction */
.intro-container {
  background-color: #f40b0b;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

/* Style du bloc des îles */
.iles-container {
  background-color: #e0ffe5;
  padding: 20px;
  border-radius: 8px;
}

/* Style général des paragraphes */
.Intro, .Iles {
  font-family: Arial, sans-serif;
  line-height: 1.4;
}
